<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name> EmailManager</display-name>
  
  
  
  <servlet>
    <servlet-name>ListEmailServlet</servlet-name>
    <servlet-class>com.fst.servlet.ListEmailServlet</servlet-class>
    <init-param>
       <param-name>membres</param-name>
       <param-value>C:\Users\mamad\eclipse-workspace\ EmailManager\src\main\java\com\fst\servlet\adresses.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
     <servlet-name>ListEmailServlet</servlet-name>
     <url-pattern>/ListEmailServlet</url-pattern>
  </servlet-mapping>
  
  
  
   
   <servlet>
    <servlet-name>ListEmailServlet2</servlet-name>
    <servlet-class>com.fst.servlet.ListEmailServlet2</servlet-class>
    <init-param>
       <param-name>membres</param-name>
       <param-value>C:\Users\mamad\eclipse-workspace\ EmailManager\src\main\java\com\fst\servlet\adresses.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
     <servlet-name>ListEmailServlet2</servlet-name>
     <url-pattern>/ListEmailServlet2</url-pattern>
  </servlet-mapping>
  
  
  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>